/* Preview styles */
.preview-area {
  /* flex: 1; */
  background: #fff;
  overflow: hidden;
}
.sp-layout {
  display: flex;
  flex: 1;
  min-height: 0;
}
.sp-preview {
  flex: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.03);
}
.sp-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
